<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>He Got Game So Show Him The Money</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Games played:
        <input name="g" type="number" required>
        <br>
        <br> Points Per Game:
        <input name="ppg" type="number" required min = "0" step = ".1">
        <br>
        <br> Rebounds Per Game:
        <input name="rpg" type="number" required min = "0" step = ".1">
        <br>
        <br> Assists Per Game:
        <input name="apg" type="number" required min = "0" step = ".1">
        <br>
        <br> Steals Per Game:
        <input name="spg" type="number" required min = "0" step = ".1">
        <br>
        <br> Blocks Per Game:
        <input name="bpg" type="number" required min = "0" step = ".1">
        <br>
        <br> Turnovers Per Game:
        <input name="tov" type="number" required min = "0" step = ".1">
        <br>
        <br> Winshares:
        <input name="ws" type="number" required step = ".1">
        <br>
        <br> Value Over Replacement Player:
        <input name="vorp" type="number" required step = ".1">
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> This player's salary should be:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
</html>
